@import "tailwindcss";
@layer utilities {
  /* Hilangkan spinner di Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Hilangkan spinner di Firefox */
  .no-spinner {
      -moz-appearance: textfield;
  }

  /* Hide scrollbar for horizontal scroll */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
      display: none;  /* Chrome, Safari and Opera */
  }
}
